.container-fluid
  .row
    .col-sm-4.text-center
      %img{ src:"http://placehold.it/351x150", alt:"..." }
    .col-sm-4.text-center
      %img{ src:"http://placehold.it/351x150", alt:"..." }
    .col-sm-4.text-center
      %img{ src:"http://placehold.it/351x150", alt:"..." }
