.container-fluid
  .row
    .col-sm-12.text-right
      %blockquote.blockquote-reverse
        %img{ src:"http://placehold.it/120", alt:"..." }
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
        %footer 
          Someone famous in 
          %cite{ title:"Source Title" } Source Title


  .row
    .col-sm-12.text-left
      %blockquote
        %img{ src:"http://placehold.it/120", alt:"..." }
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
        %footer 
          Someone famous in 
          %cite{ title:"Source Title" } Source Title

  .row
    .col-sm-12.text-right
      %blockquote.blockquote-reverse
        %img{ src:"http://placehold.it/120", alt:"..." }
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
        %footer 
          Someone famous in 
          %cite{ title:"Source Title" } Source Title
