= render :partial => 'static_pages/partials/register'
/= render :partial => 'partials/carousel'
= render :partial => 'static_pages/partials/features'
= render :partial => 'static_pages/partials/testimonials'