.timeline-block
  .panel.panel-default.profile-card
    .panel-body
      .profile-card-icon
        %i.fa.fa-bookmark
      %h4.text-center Bookmark Badge
      %ul.profile-card-items
        %li
          %i.fa.fa-map-marker
          Sydney, Australia
        %li
          %i.fa.fa-bars
          God Father, page #244 
        %li
          %i.fa.fa-calendar
          = 5.days.from_now.strftime("%e %B %Y %H:%M %p")