.timeline-block
  .panel.panel-default.relative
    .panel-body.panel-boxed.text-center
      Your Friends liked this book
    %img.img-responsive{:alt => "place", :src => "assets/place2-full.jpg"}
      .panel-body.panel-boxed.text-center
        .rating
          %span.star
          %span.star.filled
          %span.star.filled
          %span.star.filled
          %span.star.filled
      .panel-body
        %img.img-circle{:alt => "people", :src => "assets/people/50/guy-2.jpg"}/
        %img.img-circle{:alt => "people", :src => "assets/people/50/woman-2.jpg"}/
        %img.img-circle{:alt => "people", :src => "assets/people/50/guy-3.jpg"}/
        %img.img-circle{:alt => "people", :src => "assets/people/50/woman-3.jpg"}/
        %a.user-count-circle{:href => "#"} 12+