.carousel.slide{ id:"carousel-example-generic", 'data_ride' => "carousel" }
  / Indicators
  %ol.carousel-indicators
    %li.active{ data_target:"#carousel-example-generic", 'data-slide-to' => "0" } 
    %li{ data_target:"#carousel-example-generic", 'data-slide-to' => "1" }

  / Wrapper for slides
  .carousel-inner
    .item.active
      = cl_image_tag('billie-piper-reading-book', alt: 'girl reading book', effect: :sepia, width: 750, height: 450, style: 'width:100%')
        
    .item
      = cl_image_tag('love-book', alt: 'love book', effect: :sepia, width: 750, height: 450, style: 'width:100%')
      .carousel-caption Some text?
      
  / Controls
  %a.left.carousel-control{ href:"#carousel-example-generic", role:"button", 'data-slide' => "prev" }
    %span.glyphicon.glyphicon-chevron-left
  
  %a.right.carousel-control{ href:"#carousel-example-generic", role:"button", 'data-slide' => "next" }
    %span.glyphicon.glyphicon-chevron-right
  
