.row.hero-image
  .col-md-8.col-sm-6.col-xs-5
  .col-md-4.col-sm-6.col-xs-7
    %h2.hero-header Read Share Follow
    %h4.hero-caption Read your favourite books, follow your idols, share your thoughts with the world
    .row
      .col-md-10.col-sm-6.col-xs-6
        %button.btn Learn More
      .col-md-offset-2
      