%hr
.container
  .row
    .col-md-3.text-center
      %p 1
      %p 2
      %p 3
    .col-md-3.text-center
      %p 1
      %p 2
      %p 3
    .col-md-3.text-center
      %p 1
      %p 2
      %p 3
    .col-md-3.text-center
      %p 1
      %p 2
      %p 3
