%hr
.container
  .row
    .col-md-4.text-left
      %p
        %a{href: '/' } Idol Books
      %p
        %a{href: '/about_us' } About Us
      %p
        %a{href: '/tour' } How It works? Tour
    .col-md-4.text-left
      %p
        %a{href: '/news' } News
      %p
        %a{href: '/press' } Press
    .col-md-4.text-left
      %p
        %a{href: '/privacy_policy' } Privacy Policy
      %p
        %a{href: '/support' } Support
      %p
        %a{href: '/terms_and_conditions' } Terms And Conditions
      